<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body style= "background-image: url('https://mdbootstrap.com/img/Photos/Others/images/37.jpg');
  height: 50vh">
  <body style="background-color:rgb(158, 184, 44); color:rgb(185, 79, 37)">
  <body>
    <div class="container">
      <img src="/static/images/thanks.jpg" alt="" class="logo" style="width:900px;height:300px;" />
      <!--h1>Thank You!</h1-->
      <h2>Thank you for rating our project. We really appricate your guys effort!</h2>
    </div>
  </body>
</html>
